@import 'variables.generated';
@import 'variables.light.generated';
@import 'grafana';

.page-dashboard .main-view {
  background-size: cover;
  background-repeat: no-repeat;
}

.panel-title-text {
  padding: 16px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff;
  font-size: 16px;
}
